<!-- 		
  <html>
	<head>
		<link rel="stylesheet"
			href="https://netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"></link>
			<link rel="stylesheet"
				href="https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css"></link>
				<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js"></script>
	</head>
	<body>
		<br></br>
		<br></br>
-->
 
		<div class='container'>
			<div class='row' style="margin-top:10px">
				<div class='col-md-6' style="width: 68%">
					<div class='well well-sm' style="background-color:#f7f8f9">
						<form class='form-horizontal' action='' method='post'>
							<fieldset>
								<div class='form-group'>
									<label class='col-md-3 control-label' for='name'>Time Spent
									</label>
									<div class='col-md-9'>
										<input id='timeSpent' name='timeSpent' type='text' 
											placeholder='3w 4d 12h' class='form-control' style="width: 25%;display: inline;"></input>
									</div>
								</div>
								
								<div class='form-group'>
									<label class='col-md-3 control-label' for='name'>Remaining
										Estimate
									</label>
									<div class='col-md-9'>
										<div class="radio">
											<label>
												<input id='remAuto' checked="checked" name='remainingEst' value="auto" type='radio'
													onclick="$('#manualEst').prop('disabled', true);">Adjust
													Automatically
												</input>
											</label>
										</div>

										<div class="radio">
											<label>
												<input id='remManual' name='remainingEst' value="manual" type='radio'
												onclick="$('#manualEst').prop('disabled', false); ">
													Set to
													<input disabled='true' type="text" id="manualEst" class='form-control' 
													onclick="document.getElementById('remManual').checked='true';$('#manualEst').prop('disabled', false);"
														style="width: 40%;display: inline;" placeholder='3w 4d 12h' />
												</input>
											</label>
										</div>
									</div>
								</div>

								<div class='form-group'>
									<label class='col-md-3 control-label' for='message'>WorkLog Comments
									</label>
									<div class='col-md-9'>
										<textarea style="height: 75px;" class='form-control' id='comments' name='comments'
											placeholder='Please enter your WorkLog comments here...' rows='5'></textarea>
									</div>
								</div>
								
								<div class='form-group'>
									<label class='col-md-3 control-label' for='message'>Excel : Discussion points
									</label>
									<div class='col-md-9'>
										<textarea style="height: 75px;" class='form-control' id='excelDP' name='excelDP'
											placeholder='Please enter your Discussion points here...' rows='5'></textarea>
									</div>
								</div>
								
								<div class='form-group'>
									<label class='col-md-3 control-label' for='message'>Excel : Estimation Comments
									</label>
									<div class='col-md-9'>
										<textarea style="height: 75px;" class='form-control' id='excelEstComm' name='excelEstComm' 
											placeholder='Please enter your Estimation comments here...' rows='5'></textarea>
									</div>
								</div>
								
								<span id="commentsSpan" style="display: none" th:text="${comments}" />
								<span id="estCommentsSpan" style="display: none" th:text="${estComments}" />

							</fieldset>
						</form>
					</div>
				</div>
			</div>
		</div>
		
		<script type="text/javaScript">
		
		  var comments = document.getElementById("commentsSpan").innerHTML;
		  var estComments = document.getElementById("estCommentsSpan").innerHTML;
		  document.getElementById('excelDP').value = comments;
		  document.getElementById('excelEstComm').value = estComments;
			
		</script>
		
<!-- 		
		
	</body>
</html>  -->