<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<meta name="description" content="" />
<meta name="author" content="" />
<link rel="icon" href="../../favicon.ico" />

<title>Daily Report</title>

<!-- Bootstrap core CSS -->


<link href="css/bootstrap.min.css" rel="stylesheet" />
<!-- Custom styles for this template -->
<link href="css/dashboard.css" rel="stylesheet" />


<script src="js/jquery-1.12.4.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/bootbox.min.js"></script>
<script src="js/dailyreport.js"></script>


</head>

<body>


	<div class="menu">
		<div class="container-fluid">
			<div class="navbar-header" style="color: white">
				<span class="glyphicon glyphicon-user"></span> <span
					th:text="'Welcome: ' + ${username}"></span>
			</div>
			<div>
				<ul class="nav navbar-nav navbar-right">
					<li onclick="javaScript: logOut();"><a href="#"><span class="glyphicon glyphicon-log-in"></span>
							Sign Out</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="span7">
		<div class="widget stacked widget-table action-table">

			<div class="container" style="margin-left: 38px; padding:0; width: 1265px">
				<br /> 
				<div class="">
					<div style="display: inline;width: 50%;">
						<a href="javascript:void(0);" onclick="javaScript: workLogToday(); "><img src="img/summary.png" style="width: 35px;" alt="Work Logged Today"></img></a>
					</div>
					<div style="float: right;">
						<a href="javascript:void(0);" onclick="javaScript: generateExcel(); "><img src="img/excel.png" style="width: 35px;" alt="Generate Excel"></img></a>
					</div>
				</div>
				<div class="row" style="margin-top: 15px">
					<div class="">
						<div class="panel panel-success">
							<div class="panel-heading" style="color: white;background-color: #429de8; border-color: #d6e9c6;">
								<h3 class="panel-title">Tasks</h3>
								<div class="pull-right">
									<span class="clickable filter" data-toggle="tooltip"
										title="Toggle table filter" data-container="body"> <i
										class="glyphicon glyphicon-filter"></i>
									</span>
								</div>
							</div>
							<div class="panel-body">
								<input type="text" class="form-control" id="task-table-filter"
									data-action="filter" data-filters="#task-table"
									placeholder="Filter Tasks" />
							</div>


							<table class="table table-hover" id="task-table" >
								<thead style="font-size: 15px;">
									<tr>
										<th>Issue #</th>
<!-- 										<th>Resolution</th> -->
										<th>Assignee</th>
										<th>Reporter</th>
										<th>Status</th>
<!-- 										<th>description</th> -->
										<th>Created</th>
										<th>Updated</th>
										<th>Estimated</th>
										<th>Remaining</th>
										<th>Logged</th>
<!-- 										<th>sprint</th> -->
<!-- 										<th>components</th> -->
<!-- 										<th>labels</th> -->
										<th>Priority</th>
										<th></th>
<!-- 										<th>type</th> -->
									</tr>
								</thead>
								<tbody style="font-size: 13px;">
									<tr th:each="jira : ${table}">
										<td th:text="${jira.ticketNumber}">Issue #</td>
										
<!-- 										<td th:text="${jira.resolution}">Resolution</td> -->
										<td th:text="${jira.assignee}">Assignee</td>
										<td th:text="${jira.reporter}">Reporter</td>
										<td th:text="${jira.status}">Status</td>
<!-- 										<td th:text="${jira.description}">description</td> -->
										<td th:text="${jira.created}">Created</td>
										<td th:text="${jira.updated}">Updated</td>
										<td th:text="${jira.estimated}">Estimated</td>
										<td th:text="${jira.remaining}">Remaining</td>
										<td th:text="${jira.logged}">Logged</td>
<!-- 										<td th:text="${jira.sprint}">sprint</td> -->
<!-- 										<td th:text="${jira.components}">components</td> -->
<!-- 										<td th:text="${jira.labels}">labels</td> -->
										<td th:text="${jira.priority}">Priority</td>
<!-- 										<td th:text="${jira.type}">type</td> -->
										<td><a onclick="javaScript:logWork(this)" href="javascript:void(0);"  ><img th:id="${jira.ticketNumber}" src="img/clock.png" alt="Log Work" style="width:30px" /></a></td>
										
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>

		</div>

	</div>
	
	<img id="loadingDiv" src="img/loading.gif" style="position:fixed; top:50%; left:50%" />
	
</body>

<script type="text/javascript">

(function() {
    'use strict';
    var $ = jQuery;
    $.fn
        .extend({
            filterTable: function() {
                return this
                    .each(function() {
                        $(this)
                            .on(
                                'keyup',
                                function(e) {
                                    $('.filterTable_no_results')
                                        .remove();
                                    var $this = $(this),
                                        search = $this
                                        .val()
                                        .toLowerCase(),
                                        target = $this
                                        .attr('data-filters'),
                                        $target = $(target),
                                        $rows = $target
                                        .find('tbody tr');

                                    if (search == '') {
                                        $rows.show();
                                    } else {
                                        $rows
                                            .each(function() {
                                                var $this = $(this);
                                                $this
                                                    .text()
                                                    .toLowerCase()
                                                    .indexOf(
                                                        search) === -1 ? $this
                                                    .hide() :
                                                    $this
                                                    .show();
                                            })
                                        if ($target
                                            .find(
                                                'tbody tr:visible')
                                            .size() === 0) {
                                            var col_count = $target
                                                .find(
                                                    'tr')
                                                .first()
                                                .find(
                                                    'td')
                                                .size();
                                            var no_results = $('<tr class="filterTable_no_results"><td colspan="' + col_count + '">No results found</td></tr>')
                                            $target
                                                .find(
                                                    'tbody')
                                                .append(
                                                    no_results);
                                        }
                                    }
                                });
                    });
            }
        });
    $('[data-action="filter"]').filterTable();
})(jQuery);
	$(function() {
		// attach table filter plugin to inputs
		$('[data-action="filter"]').filterTable();

		$('.container').on('click', '.panel-heading span.filter', function(e) {
			var $this = $(this), $panel = $this.parents('.panel');

			$panel.find('.panel-body').slideToggle();
			if ($this.css('display') != 'none') {
				$panel.find('.panel-body input').focus();
			}
		});
		//   	$('[data-toggle="tooltip"]').tooltip();
	})
	
	
	var $loading = $('#loadingDiv').hide();
	$(document).ajaxStart(function () {
		$loading.show();
	}).ajaxStop(function () {
		$loading.hide();
	});
</script>

</html>
